<launch>
	<env name="GAZEBO_MODEL_PATH" value="$(find kubot_gazebo)/models" />

	<!-- Arguments of the world -->
	<arg name="paused" default="false" />
	<arg name="use_sim_time" default="true" />
	<arg name="gui" default="true" />
	<arg name="headless" default="false" />
	<arg name="debug" default="false" />
	<arg name="level" default="1" />

	<!-- Load the world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find kubot_gazebo)/worlds/test.world" />
	</include>


	<!--put robot model in world-->
	<include file="$(find kubot_gazebo)/launch/kubot_empty_world.launch">
		<arg name="example" value="false" />
		<arg name="x_pos" value="2" />
		<arg name="y_pos" value="1" />
		<arg name="z_pos" value="0" />
	</include>

</launch>