<?xml version="1.0"?>

<robot name="kubot" xmlns:xacro="https://ros.org/wiki/xacro">

  <xacro:include filename="$(find kubot_description)/urdf/kubot_properties.urdf.xacro"/>

  <xacro:macro 
  name="lidar" 
  params="frame:=laser_link lidar_enabled:=true lidar_joint_xyz:=0 lidar_joint_rpy:=0">

      <xacro:if value="${lidar_enabled}">

        <!-- laser link -->
        <link name="${frame}">

            <visual>
                <origin xyz="0 0 0.031" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://kubot_description/meshes/lidar_frame/rplidar-a2/laser_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            <xacro:material_dark_grey/>
            </visual>

            <collision>
                <origin xyz="0 0 0.031" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://kubot_description/meshes/lidar_frame/rplidar-a2/laser_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            <xacro:material_white/>
            </collision>

            <inertial>
                <origin xyz="0 0 0.031" rpy="0 0 0"/>
                <mass value="0.179"/>
                <inertia 
                   ixx="0.00028" 
                   ixy="0.0" 
                   ixz="0.0" 
                   iyy="0.00028" 
                   iyz="0.0" 
                   izz="0.00022" />
            </inertial>

        </link>

        <!-- lidar joint -->
        <joint name="lidar_joint" type="fixed">
            <origin xyz="${lidar_joint_xyz}" rpy="${lidar_joint_rpy}" />
            <parent link="base_link" />
            <child link="${frame}" />
        </joint>
        
      </xacro:if>
  </xacro:macro>
</robot>
