<?xml version="1.0"?>

<robot name="kubot" xmlns:xacro="https://ros.org/wiki/xacro">

  <xacro:include filename="$(find kubot_description)/urdf/kubot_properties.urdf.xacro"/>

  <xacro:macro 
  name="lidar" 
  params="frame:=laser_link lidar_enabled:=true lidar_joint_xyz:=0 lidar_joint_rpy:=0 lidar1_joint_xyz:=0 lidar1_joint_rpy:=0 lidar2_joint_xyz:=0 lidar2_joint_rpy:=0">

      <xacro:if value="${lidar_enabled}">

        <link name="lidar">
        </link>

        <!-- laser 1  link -->
        <link name="lidar1">

            <visual>
                <origin xyz="0 0 0.031" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://kubot_description/meshes/lidar_frame/rplidar-a2/laser_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            <xacro:material_dark_grey/>
            </visual>

            <collision>
                <origin xyz="0 0 0.031" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://kubot_description/meshes/lidar_frame/rplidar-a2/laser_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            <xacro:material_white/>
            </collision>

        </link>

        <!-- laser 2  link -->
        <link name="lidar2">

            <visual>
                <origin xyz="0 0 0.031" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://kubot_description/meshes/lidar_frame/rplidar-a2/laser_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            <xacro:material_dark_grey/>
            </visual>

            <collision>
                <origin xyz="0 0 0.031" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://kubot_description/meshes/lidar_frame/rplidar-a2/laser_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            <xacro:material_white/>
            </collision>

        </link>

        <!-- lidar  joint -->
        <joint name="lidar_joint" type="fixed">
            <origin xyz="${lidar_joint_xyz}" rpy="${lidar_joint_rpy}" />
            <parent link="base_link" />
            <child link="lidar" />
        </joint>

        <!-- lidar  1 joint -->
        <joint name="lidar1_joint" type="fixed">
            <origin xyz="0.319 0.208 0.166" rpy="0 0 0.7854" />
            <parent link="base_link" />
            <child link="lidar1" />
        </joint>

        <!-- lidar  2 joint -->
        <joint name="lidar2_joint" type="fixed">
            <origin xyz="-0.319 -0.208 0.166" rpy="0 0 -2.355" />
            <parent link="base_link" />
            <child link="lidar2" />
        </joint> 

      </xacro:if>
  </xacro:macro>
</robot>
